{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipes name</label>
          <input name="recepie_name" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recepie description</label>
          <textarea name="receipe_description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recepie image</label>
            <input name="recepie_image" type="file" class="form-control" >
          </div>
       
        <button type="submit" class="btn btn-success">Add Recepie</button>
      </form>
     <hr>
     <div class="mt-5">
      <div class="mx-auto col-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Search Receipe</label>
          <input name="recepie_name" type="text" class="form-control" >
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
     </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Receipe name</th>
            <th scope="col">Receipe description</th>
            <th scope="col">Receipe image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for receipe in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.recepie_name}}</td>
            <td>{{receipe.receipe_description}}</</td>
            <td>
              <img src="/media/{{receipe.recepie_image}}" style="height: 100px;"></td>
              <td>
                <a href="/delete_receipe/{{receipe.id}}/" class="btn btn-danger m-2">DELETE</a>
                <a href="/update_receipe/{{receipe.id}}/" class="btn btn-success">UPDATE</a>
              
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}